
<% if @your_books %>
  <h1> Welcome <%= @author.username %> </h1>
<% else %>
  <h1> Books by <%= @author.username %> </h1>
<% end %>

<% if flash.has?(:message) %>
  <div id="books by user error">
    <h2> <%= flash[:message] %> </h2>
  </div>
<% end %>

<% if !@author.books.empty? %>
  <% if @your_books %>
    <h3> Your Books </h3>
  <% end %>
  <ul>
    <% @author.books.each do |book| %>
      <li> <a href="/books/<%= book.slug %>"> <%= book.title %> </a> </li>
    <% end %>
  </ul>
<% else %>
  <p> No Books Found </p>
<% end %>

<% if @user %>
  <br>
  <a href="/books/new"> Create New Book </a>
  <br>
  <br>
  <a href="/books/by-user/<%= @user.slug %>"> Your Books </a>
  <br>
<% end %>

<br>
<a href="/books"> List All Books </a>

<% if @user %>
  <br>
  <br>
  <a href="/logout"> Logout </a>
<% else %>
  <br>
  <br>
  <a href="/books"> List All Books </a>
  <br>
  <br>
  <a href="/"> Login </a>
<% end %>
