
<h1> Book: <%= @book.title %> </h1>

<h3> Chapter <%= @chapter.ordinal %>:  <%= @chapter.name %> </h3>

<p>
  Chapter names must contain 5 to 64 characters, and must be unique to a book.
  <br>
  Valid characters are any letter (either case), number, or spaces.
  <br>
  However you can't start with a space.
  <br>
  Chapter numbers cannot be longer than 2 characters, can only contain numbers, cannot start with 0, and must be unique to a book.
</p>

<form action="/books/<%= @book.id %>/chapters/<%= @chapter.id %>/edit" method="post">
  <fieldset>
    <legend> Edit Chapter: </legend>

    <% if flash.has?(:message) %>
      <div id="edit chapter error">
        <h2> <%= flash[:message] %> </h2>
      </div>
    <% end %>

    <br>
    <label for="chapter_name"> New Chapter Name: </label>
    <br>
    <input type="text" name="chapter[name]" id="chapter_name" maxlength="64" pattern="\A[a-zA-Z0-9][a-zA-Z0-9 ]{4,63}\Z" required>
    <br>

    <br>
    <label for="chapter_ordinal"> Chapters New Number: </label>
    <br>
    <input type="text" name="chapter[ordinal]" id="chapter_ordinal" maxlength="2" pattern="\A[1-9][0-9]{0,1}\Z" required>
    <br>

    <input type="hidden" name="chapter[book_id]" value="<%= @book.id %>">

    <br>
    <br>
    <input type="submit" value="Edit Chapter">
  </fieldset>
</form>

<br>
<a href="/books/<%= @book.slug %>"> View This Books Chapters </a>
<br>
<br>
<a href="/books/<%= @book.slug %>/chapters/<%= @chapter.ordinal %>/write"> Write/Add More To Chapter </a>
<br>
<br>
<a href="/books/<%= @book.slug %>/chapters/<%= @chapter.ordinal %>/modify_content"> Modify This Chapters Content And/Or Add More </a>
<br>
<br>
<a href="/books/<%= @book.slug %>/chapters/new"> Create A New Chapter </a>
<br>
<br>
<form action="/books/<%= @book.id %>/chapters/<%= @chapter.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Chapter">
</form>
