
<h1> Add A Chapter To <%= @book.title %> </h1>

<p>
  Chapter names must contain 5 to 64 characters, and must be unique to a book.
  <br>
  Valid characters are any letter (either case), number, or spaces.
  <br>
  However you can't start with a space.
  <br>
  Chapter numbers cannot be longer than 2 characters, can only contain numbers, cannot start with 0, and must be unique to a book.
</p>

<% if !@book.chapters.empty? %>
  <h3> Existing Chapters </h3>

  <ul>
    <% @book.chapters.each do |chapter| %>
      <li> <a href="/<%= @book.slug %>/<%= chapter.ordinal %>"></a> <%= chapter.ordinal %>. <%= chapter.name %> </li>
    <% end %>
  </ul>
<% end %>

<form action="/books/<%= @book.id %>/chapters" method="post">
  <fieldset>
    <legend> New Chapter: </legend>

    <% if flash.has?(:message) %>
      <div id="new chapter error">
        <h2> <%= flash[:message] %> </h2>
      </div>
    <% end %>

    <br>
    <label for="chapter_name"> Chapter Name: </label>
    <br>
    <input type="text" name="chapter[name]" id="chapter_name" maxlength="64" pattern="\A[a-zA-Z0-9][a-zA-Z0-9 ]{4,63}\Z" required>
    <br>

    <br>
    <label for="chapter_ordinal"> Chapters Number: </label>
    <br>
    <input type="number" name="chapter[ordinal]" id="chapter_ordinal" min="1" max="99" required>
    <br>

    <input type="hidden" name="chapter[book_id]" value="<%= @book.id %>">

    <br>
    <br>
    <input type="submit" value="Create New Chapter">
  </fieldset>
</form>

<br>
<a href="/books/<%= @book.slug %>"> View This Books Chapters </a>
