
<h1> Book: <%= @book.title %> </h1>

<h2> Chapter <%= @chapter.ordinal %>:  <%= @chapter.name %> </h2>

<form action="/books/<%= @book.id %>/chapters/<%= @chapter.id %>/write" method="post">
  <label for="content"> Write Your Chapter Here: </label>
  <br>
  <br>
  <textarea name="content" id="content" rows="4" placeholder="The corner in the bottom right allows you to resize this writing area" required></textarea>
  <br>
  <br>
  <input type="submit" value="Write Chapter">
</form>

<br>
<a href="/books/<%= @book.slug %>/chapters/<%= @chapter.ordinal %>/modify_content"> Modify This Chapters Content And/Or Add More </a>
<br>
<br>
<a href="/books/<%= @book.slug %>/chapters/<%= @chapter.ordinal %>/edit"> Edit This Chapter </a>
<br>
<br>
<a href="/books/<%= @book.slug %>/chapters/new"> Create A New Chapter </a>
<br>
<br>
<form action="/books/<%= @book.id %>/chapters/<%= @chapter.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Chapter">
</form>
